body{
    background-image: url(https://th.bing.com/th/id/OIP.lg-6I4WLZzkfyo0W_rdr9QHaE7?w=261&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    max-width: 250px;
    height: 250px;
}